/.idea/
bin/
/internal/dependencytrack/client/.travis.yml
/internal/dependencytrack/client/git_push.sh
/internal/dependencytrack/client/go.mo
.env
/charts/values.dev-nais.yaml
/local/registry-data/
internal/sources/dependencytrack/client/.travis.yml
internal/sources/dependencytrack/client/git_push.sh
/tmp/
