services:
  postgres:
    image: postgres:15-alpine
    command: ["postgres", "-c", "log_statement=all", "-c", "log_destination=stderr"]
    ports:
      - "4002:5432"
    environment:
      POSTGRES_USER: v13s
      POSTGRES_PASSWORD: v13s
      POSTGRES_DB: v13s
    volumes:
      - pgdata:/var/lib/postgresql/data

  adminer:
    depends_on:
      - postgres
    image: adminer:latest
    ports:
      - "4003:8080"
    environment:
      ADMINER_DEFAULT_SERVER: postgres

  registry:
    image: registry:latest
    ports:
      - '4004:5000'
    volumes:
      - ./local/registry-data:/var/lib/registry
      - ./local/registry-config.yml:/etc/docker/registry/config.yml
    command:
      - /etc/docker/registry/config.yml

  jaeger:
    image: jaegertracing/all-in-one:1.57
    ports:
      - "16686:16686"   # Web UI
      - "4317:4317"     # OTLP gRPC receiver (default for Go OTEL SDK)
      - "4318:4318"     # OTLP HTTP receiver (optional)
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    profiles:
      - tracing

  pushgateway:
    image: prom/pushgateway:latest
    ports:
      - "9091:9091"
    restart: unless-stopped

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./local/prometheus.yml:/etc/prometheus/prometheus.yml

volumes:
  pgdata:
  trivy-cache: