apiVersion: v1
kind: Secret
type: kubernetes.io/Opaque
metadata:
  name: {{ include "v13s.fullname" . }}
  labels:
    {{- include "v13s.labels" . | nindent 4 }}
stringData:
  INTERNAL_LISTEN_ADDR: ":8000"
  KUBERNETES_CLUSTERS: "{{ .Values.kubernetes.clusters }}"
  {{- if .Values.kubernetes.static }}
  KUBERNETES_CLUSTERS_STATIC: "{{ .Values.kubernetes.static }}"
  {{- end }}
  TENANT: "{{ .Values.fasit.tenant.name }}"
  UPDATE_INTERVAL: "{{ .Values.updateInterval }}"
  DEPENDENCYTRACK_URL: "{{ .Values.dependencytrack.url }}"
  DEPENDENCYTRACK_USERNAME: "{{ .Values.dependencytrack.username }}"
  DEPENDENCYTRACK_PASSWORD: "{{ .Values.dependencytrack.password }}"
  DATABASE_URL: "postgres://{{ .Values.database.user }}:{{ .Values.database.password }}@127.0.0.1:5432/{{ .Values.database.name }}?sslmode=disable"
  AUTHORIZED_SERVICE_ACCOUNTS: "{{ .Values.auth.serviceAccounts | join "," }}"
  REQUIRED_AUDIENCE: "{{ .Values.auth.audience }}"
  LOG_LEVEL: "{{ .Values.logLevel }}"
  LOG_FORMAT: "{{ .Values.logFormat }}"
  {{- if .Values.opentelemetry.enabled }}
  OTEL_EXPORTER_OTLP_ENDPOINT: "{{ .Values.opentelemetry.collector.endpoint }}"
  PROMETHEUS_METRICS_PUSHGATEWAY_ENDPOINT: "{{ .Values.prometheus.pushgateway.endpoint }}"
  {{- end }}
  GITHUB_ORGANIZATIONS: "{{ .Values.github.organizations | join "," }}"