apiserverIP:
image:
  repository: europe-north1-docker.pkg.dev/nais-io/nais/images
  name: v13s
  tag: tull
  cloudsql_proxy: gcr.io/cloudsql-docker/gce-proxy:1.37.10
serviceAccountEmail:
serviceAccountName: v13s-sa
updateInterval: 3m
github:
  organizations:
    - nais
dockerconfigjson: '{"auths":{}}'
auth:
  audience: "v13s"
  serviceAccounts: []
fasit:
  tenant:
    name: "dev-nais"
kubernetes:
  clusters: "dev,prod"
  static: ""
ingress:
  className: nais-ingress
  host: ""
dependencytrack:
  url:
  username: v13s
  password:
database:
  instance:
  public_ip:
  name:
  user:
  password:
resources:
  requests:
    cpu: 100m
    memory: 1Gi
logLevel: info
logFormat: json
prometheus:
  pushgateway:
    endpoint: ""
    duration:
opentelemetry:
  collector:
    endpoint: ""
    enabled: true
