name: Build and deploy
on:
  pull_request:
    types: [opened, reopened, synchronize]
  push:
    branches:
      - main
    paths-ignore:
      - 'docs/**'
      - '*.md'
      - 'LICENSE.md'
env:
  NAME: v13s
  FEATURE_REPOSITORY: oci://europe-north1-docker.pkg.dev/nais-io/nais/feature

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  checks:
    permissions:
      contents: "read"
    strategy:
      matrix:
        mise-task:
          - check:deadcode
          - check:govet
          - check:govulncheck
          - check:staticcheck
          - check:helmlint
          - test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v6
      - uses: jdx/mise-action@6d1e696aa24c1aa1bcc1adea0212707c71ab78a8 # ratchet:jdx/mise-action@v3
      - run: mise run ${{ matrix.mise-task }}

  build_and_push:
    if: github.ref == 'refs/heads/main'
    outputs:
      version: ${{ steps.build-push-sign.outputs.version }}
    needs:
      - checks
    permissions:
      contents: "read"
      id-token: "write"
    name: build and push
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # ratchet:actions/checkout@v6

      - name: Build push v13s image
        uses: nais/platform-build-push-sign@main # ratchet:exclude
        id: build-push-sign
        with:
          name: ${{ env.NAME }}
          google_service_account: gh-${{ env.NAME }}
          workload_identity_provider: ${{ secrets.NAIS_IO_WORKLOAD_IDENTITY_PROVIDER }}
          push: true

      - name: Update values.yaml
        run: |-
          yq e '.image.tag = "${{ steps.build-push-sign.outputs.version }}"' -i ./charts/values.yaml

      - uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # ratchet:azure/setup-helm@v4
        name: "Setup Helm"
        with:
          version: "v3.15.1"

      - name: Build Chart
        run: |-
          yq e '.version = "${{ steps.build-push-sign.outputs.version }}"' -i charts/Chart.yaml
          helm package charts

      - name: Push Chart
        run: |-
          helm push ${{ env.NAME }}*.tgz ${{ env.FEATURE_REPOSITORY }}

  rollout:
    if: github.ref == 'refs/heads/main'
    needs:
      - build_and_push
    runs-on: fasit-deploy
    permissions:
      id-token: write
    steps:
      - uses: nais/fasit-deploy@v3 # ratchet:exclude
        with:
          chart: ${{ env.FEATURE_REPOSITORY }}/${{ env.NAME }}
          version: ${{ needs.build_and_push.outputs.version }}
          target: '{"kind": "management"}'
